# Helm build artifacts
charts/**/**.tgz
**/*.lock
**/.chartworkspace/
**/.charts/

# Artifact Hub / Repo Index
charts/index.yaml
**/.cache/
**/tmp/

# Local environment configs
**/.env
**/.env.local
**/*.secrets

# Logs
**/*.log

# OS junk
.DS_Store
**/.DS_Store
**/Thumbs.db
**/Desktop.ini

# Editor / IDE files
**/.vscode/
**/.idea/
**/*.swp
**/*.swo

# CI/CD local scripts
scripts/**

# Temporary files and folders
**/.github/
*~
*.bak
